
   /* body style*/
    body{
        background-image: url("background-image.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
    }
    /* image style*/
    img {
        vertical-align: middle;
        padding-top: 30px;
        padding-left: 30px;
        
    }
/* header 1 style*/
    h1{
        padding-left: 230px;
        position: absolute;
        top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
/* header 4 style*/
    h4{
        padding-left: 230px;
        position: absolute;
        top: 100px;
    } 
   
    p{
        padding-left: 230px;
        position: absolute;
        top:150px;
    }

    hr.new1{
    
        margin-top: 100px;
        border-top: 3px dashed rgb(83, 82, 82);
    }
    /* table style*/
    table, td {
        border:1px solid rgb(88, 86, 86);
        width: 1000px;
        height: 30px;
        margin-top: 30px;
        
      }
      /* table pisition */
      .center {
        margin-left: auto;
        margin-right: auto;
      }
      hr.new2{
        margin-top: 50px;
        border-top: 3px dashed rgb(83, 82, 82);
    }
    /* button style*/
    .button {
        display: inline-block;
        padding: 5px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(206, 18, 18); 
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        position:relative;
        left: 670px;
        top:10px;
      }
      